# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    tdv_cont: "tradeville-account-here"
    tdv_pw: "tradeville-password-here"
    tdv_url_login: "https://2.tradeville.eu/Trading/Loginq.aspx"
    tdv_url_bonds_screener: "https://2.tradeville.eu/Trading/ReportsAndQuotes/BondScreener.aspx"
    tdv_url_bonds: "https://2.tradeville.eu/Trading/ReportsAndQuotes/QuotesBonds.aspx"
    tdv_url_shares_screener: "https://2.tradeville.eu/Trading/Transaction/PersonalListsGrid.aspx"
    tdv_url_shares_screener_page_id: "the-id-of-the-custom-page-with-shares-in-tradeville"
    tdv_url_shares: "https://2.tradeville.eu/Trading/ReportsAndQuotes/QuotesShares.aspx"
    tdv_url_portfolio: "https://2.tradeville.eu/Trading/MyAccount/ManageAccount.aspx?ctme=71"
    tdv_url_symbol_portfolio: "https://2.tradeville.eu/Trading/MyAccount/Activity.aspx"
