<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Bonds analysis{% endblock %}</title>
    {% block stylesheets %}
    <style>
    </style>
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>
